@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@400;700&display=swap');

:root {
    --fuente-primaria: 'Roboto', sans-serif;
    --color-fondo: #F1FFE7;
    --color-secundario: #A9FDAC;
    --color-principal: #44CF6C;
    --color-acento: #32A287;
    --color-texto: #6C756B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-primaria);
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

.header2 {
    padding-bottom: 7%;
    padding-right: 80%;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.header__menu__link {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-acento);
    position: relative;
    transition: color 0.3s;
}

.header__menu__link:hover {
    color: var(--color-principal);
}

.header__menu__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--color-principal);
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.header__menu__link:hover::after {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 700px;
    margin: 20px 0;
    padding: 0 20px;
    animation: slideUp 1s ease-in-out;
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    margin: 20px 0;
    padding: 0 20px;
    animation: slideUp 1s ease-in-out;
}

.inputText {
    font-family: var(--fuente-primaria);
}

.input-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    font-size: 24px;
    color: var(--color-texto);
    margin-bottom: 20px;
}

.titulo:hover {
    color: var(--color-principal);
}

textarea {
    width: 100%;
    height: 250px;
    font-size: 28px;
    color: var(--color-texto);
    border: none;
    border-bottom: 2px solid var(--color-principal);
    background-color: transparent;
    padding: 20px 0;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
}

textarea:focus {
    border-bottom-color: var(--color-acento);
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.botonEncriptar {
    background-color: var(--color-principal);
    color: #ffffff;
}

.botonDesencriptar {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

button:hover {
    transform: scale(1.05);
    background-color: var(--color-acento);
}

.output-section {
    width: 400px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: auto 0;
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.output-section .output-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.output-section .bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea.text {
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: var(--color-texto);
    border: none;
    border-bottom: 2px solid var(--color-principal);
    background-color: transparent;
    padding: 20px;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
}

textarea.text:focus {
    border-bottom-color: var(--color-acento);
}

.texto {
    font-size: 18px;
    color: var(--color-texto);
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagen {
    width: 400px;
    height: auto;
    margin: 20px 0;
    display: block;
}

.imagen2 {
    width: 200px;
    height: auto;
    margin: 20px 0;
    display: block;
}

.footer {
    padding: 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-texto);
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
        gap: 20px;
        align-items: center;
    }

    .input-section, .output-section {
        width: 90%;
    }

    .output-section {
        margin-top: 30px;
        height: auto;
    }

    .footer {
        font-size: 0.8rem;
    }

    .container2 {
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
        height: auto;
        overflow: auto;
    }

    .header2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-bottom: 7%;
        padding-right: 80%;
    }

    .container {
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
        gap: 20px;
        align-items: center;
    }

    .container2 {
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
        gap: 20px;
        align-items: center;
    }

    .input-section, .output-section {
        width: 90%;
    }

    .output-section {
        margin-top: 30px;
        height: auto;
    }

    .footer {
        font-size: 0.5rem;
    }
}

.imagen {
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
